
<div class="gall">
  <div class="service-top" style="text-align: center;">
    <h1 class="section-title" style="font-size: 2em;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 4em;text-align: center;">Ga<span>ll</span>ery</h1>
</div>
<div class="images"><br>
  <h2 align="center" style="font-size: 40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';">  Single<span> Bed</span> Rooms</h2>
</div>
    <div class="fig">
        
        <img src="https://tse4.mm.bing.net/th?id=OIP.68cC8ecdklzx2iRLBtKqXAHaD3&pid=Api&P=0&w=314&h=164" class="sbroom">
        <img src="  https://tse4.mm.bing.net/th?id=OIP.ZnYxUCjbnx6LE9MoAdzhKgHaE7&pid=Api&P=0&w=246&h=164" class="sbroom">
        <img src=" https://tse3.mm.bing.net/th?id=OIP.wqXkg1Bphq61jMfWi8wB-QHaFj&pid=Api&P=0&w=203&h=152" class="sbroom">
        <img src="https://tse2.mm.bing.net/th?id=OIP.Bm6YdaJJCugOrK97c0KzDAHaE8&pid=Api&P=0&w=234&h=156" class="sbroom">
        <img src="https://tse4.mm.bing.net/th?id=OIP.ym7vSaLa5dZq8c3tOewQ1gHaE7&pid=Api&P=0&w=234&h=155" class="sbroom">
        <img src=" https://tse2.mm.bing.net/th?id=OIP.VrTq-iHUSi5VyiMnN4yAkQHaEo&pid=Api&P=0&w=280&h=175" class="sbroom">
        <img src="https://tse4.mm.bing.net/th?id=OIP.dYZXQAMOuUHySXSl4UJEYgHaE7&pid=Api&P=0&w=262&h=175" class="sbroom">
        <img src="https://tse1.mm.bing.net/th?id=OIP.XJuWeIu8sadn7V8gih--_gHaE8&pid=Api&P=0&w=234&h=156" class="sbroom">
    </div><br><br>
    <div class="images">
        <h2 align="center" style="font-size: 40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';"> Double<span> Bed</span> Rooms</h2>
      </div>
    <div class="fig2">
        
        <img src="https://tse2.mm.bing.net/th?id=OIP.R7r_xGJu12mqugf35ifh9wHaEo&pid=Api&P=0&w=243&h=152" class="dbroom">
        <img src="https://tse3.mm.bing.net/th?id=OIP.rrguXZhj_9qVImUtvioyfQHaE8&pid=Api&P=0&w=228&h=152" class="dbroom">
        <img src="https://tse1.mm.bing.net/th?id=OIP.IAJdpwFAr1zma4BREHXNxgHaEK&pid=Api&P=0&w=271&h=152" class="dbroom">
        <img src="https://tse1.mm.bing.net/th?id=OIP.CB6JP9BQPuIfQZ_0Bip10gHaEn&pid=Api&P=0&w=281&h=175" class="dbroom">
        <img src="https://tse4.mm.bing.net/th?id=OIP.xtRpXRoTxeSTlR-0WBQt5AHaFj&pid=Api&P=0&w=203&h=152" class="dbroom">
        <img src="https://tse2.mm.bing.net/th?id=OIP.E9TISOYmgYHiAG_9fLTJlQHaD3&pid=Api&P=0&w=325&h=169"  class="dbroom">
        <img src="https://tse3.mm.bing.net/th?id=OIP.n6iViUQC6AVJBOe3gopm-QHaE8&pid=Api&P=0&w=238&h=158"  class="dbroom">
        <img src="https://tse1.mm.bing.net/th?id=OIP.HstgCXlJk40NuU0GlXUiFgHaE8&pid=Api&P=0&w=244&h=163" class="dbroom">
    </div>
    <div class="images">
        <h2 align="center" style="font-size: 40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';"> Our Restaurants </h2>
      </div>
    <div class="fig2">
        <img src="https://tse2.mm.bing.net/th?id=OIP.nadw1ueW9F3l7cUPQPaHhwHaE7&pid=Api&P=0&w=234&h=155" class="dbroom">
        <img src="https://tse4.mm.bing.net/th?id=OIP.OEBAI0E8J1RQ8LK020EnsQHaE8&pid=Api&P=0&w=234&h=156" class="dbroom">
        <img src="https://tse2.mm.bing.net/th?id=OIP.ngDZfs2zVdQoJedt-bJmCAHaE8&pid=Api&P=0&w=234&h=156" class="dbroom">
        <img src="https://tse1.mm.bing.net/th?id=OIP.POkUBlFP0KVjBwhEe9o_bwHaFj&pid=Api&P=0&w=208&h=156" class="dbroom">
        <img src="https://tse2.mm.bing.net/th?id=OIP.fek7pU052sX7LBOXnbJh2gHaFG&pid=Api&P=0&w=264&h=181" class="dbroom">
        <img src="https://tse3.mm.bing.net/th?id=OIP.hjR3UGJm-NrIrw1aiuBhEAHaFj&pid=Api&P=0&w=242&h=181" class="dbroom">
        <img src="https://tse2.mm.bing.net/th?id=OIP.KIcXPyNL1knPTKcrNHpB4AHaE8&pid=Api&P=0&w=234&h=156" class="dbroom">
        <img src="https://tse3.mm.bing.net/th?id=OIP.5K0T0dLFBCDwZiwH6P-zqQHaFj&pid=Api&P=0&w=230&h=172" class="dbroom">

    </div>
    <div class="images">
        <h2 align="center" style="font-size: 40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';"> Swi<span>mm</span>ing P<span>oo</span>l </h2>
      </div>
    <div class="fig2">
        <img src="https://tse3.mm.bing.net/th?id=OIP.Y_DncKD4zKnIwYX1qD8XnQHaE7&pid=Api&P=0&w=249&h=166" class="dbroom">
        <img src="https://tse2.mm.bing.net/th?id=OIP.syl8oJ6IQuW3K-9JBOX3IgHaE0&pid=Api&P=0&w=254&h=165" class="dbroom">
        <img src="https://tse4.mm.bing.net/th?id=OIP.rI7XguWhuBTMqrcFuW7alwHaEK&pid=Api&P=0&w=281&h=158" class="dbroom">
        <img src="https://tse2.mm.bing.net/th?id=OIP.UX-7UbL96NasiicH5-vt3gHaFj&pid=Api&P=0&w=226&h=169" class="dbroom">
        <img src="https://tse1.mm.bing.net/th?id=OIP.IvLCsRDnSeJRznBCeooA0wHaEK&pid=Api&P=0&w=321&h=181" class="dbroom">
        <img src="https://tse4.mm.bing.net/th?id=OIP.9bJQpbTjUBBz7LN-sZDgvAHaE7&pid=Api&P=0&w=240&h=160" class="dbroom">
        <img src="https://tse1.mm.bing.net/th?id=OIP.mT4jIOt_lEoFGo4EZ0c5dgHaE8&pid=Api&P=0&w=239&h=159" class="dbroom">
        <img src="https://tse3.mm.bing.net/th?id=OIP.Z0abNb12EsTq-WNSak9cMwHaE6&pid=Api&P=0&w=232&h=154" class="dbroom">
        </div>

<div class="images">
    <h2 align="center" style="font-size: 40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';"> Spa <span>&</span> Jacuzzi</h2>
        </div>
   <div class="fig2">
          <img src="https://tse1.mm.bing.net/th?id=OIP.rhwvue1VctE2BmiJp3MGcgHaE7&pid=Api&P=0&w=249&h=166 " class="dbroom">
          <img src="https://tse1.mm.bing.net/th?id=OIP.HHLmJIdlHDCrKyXfnt-F5gHaEf&pid=Api&P=0&w=285&h=173" class="dbroom">
          <img src="https://tse4.mm.bing.net/th?id=OIP.N5Lw6S4ahMAdoOQSvHVg0wHaEK&pid=Api&P=0&w=290&h=163" class="dbroom">
          <img src="https://tse1.mm.bing.net/th?id=OIP.vIWrqPOFWCvIMYSeERglJgHaE8&pid=Api&P=0&w=230&h=153" class="dbroom">
          <img src="https://tse1.mm.bing.net/th?id=OIP.CnEuoGrtqB-K--DD3KE4vgHaE8&pid=Api&P=0&w=257&h=171" class="dbroom">
          <img src="https://tse2.mm.bing.net/th?id=OIP.lnVOjjeEjUKAxWKRY6QV8QHaE8&pid=Api&P=0&w=249&h=166" class="dbroom">
          <img src="https://tse1.mm.bing.net/th?id=OIP.VonZGcHrRE-9aEFAWvSiWAHaE8&pid=Api&P=0&w=249&h=166"  class="dbroom">
          <img src="https://tse4.mm.bing.net/th?id=OIP.Euhz8DfK6BekQECACFwyIQHaFH&pid=Api&P=0&w=259&h=179" class="dbroom">
    
     </div>

 <div class="images">
     <h2 align="center" style="font-size: 40px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';"> Golf <span>&</span> Fitness Club</h2>
       </div>
    <div class="fig2">
            <img src="https://tse3.mm.bing.net/th?id=OIP.J311zsjgILar2__1NvpNSQHaEV&pid=Api&P=0&w=260&h=152" class="dbroom">
            <img src="https://tse4.mm.bing.net/th?id=OIP.eZSgUciCrsd48jpr70_IWQHaEx&pid=Api&P=0&w=255&h=164" class="dbroom">
            <img src="https://tse1.mm.bing.net/th?id=OIP.LnmeTTL4lx-bypKtxtDQxgHaEK&pid=Api&P=0&w=299&h=168" class="dbroom">
            <img src="https://tse1.mm.bing.net/th?id=OIP.OKH0FHlxZHtsnmec5PlBBAHaFw&pid=Api&P=0&w=226&h=176" class="dbroom">
            <img src="https://tse4.mm.bing.net/th?id=OIP.5i66qSxTM1hQah7bQECJaQHaE7&pid=Api&P=0&w=246&h=164" class="dbroom">
            <img src="https://tse2.mm.bing.net/th?id=OIP.uhekHcIF6v5v2Z0i2Ibj8gHaE8&pid=Api&P=0&w=267&h=178" class="dbroom">
            <img src="https://tse4.mm.bing.net/th?id=OIP.YYJRYOgtw9FiZKrG87t5jwHaE8&pid=Api&P=0&w=259&h=173"  class="dbroom">
            <img src="https://tse4.mm.bing.net/th?id=OIP.XjuCDVPSHOFpQGOsriLDbAHaEK&pid=Api&P=0&w=297&h=167" class="dbroom">
       </div>   
 </div>
      




