.background{
    background-image : url("https://wallpaperaccess.com/full/658369.jpg");
}
.heading{
    color: rgb(255, 176, 7); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 56px;
    text-align: center;
}
 .brand h1{
    color: rgb(255, 176, 7); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 74px;
    text-align: center;
}
 .brand h1 span{
	color: rgb(235, 137, 67);
}
